.auth-section{
}
.body{
    background-color: black;
}
.header{
    color: blue;
    border-color: white;
}

@media (min-width: 501px) {
    body {
        background-color:whitesmoke;
    }
    img{
        visibility: hidden;
    }
    h1{
        font-family:'Times New Roman', Times, serif;
        color: whitesmoke;
        font-size: 50px;
        background-image: linear-gradient(aqua, blue);

    }
    h2{
        color: peru;
    }
    h3{
        color: khaki;
    }
    p{
        font-size: 20px;
        color: sienna;
        font-family:'Gill Sans';
    }
    label{
        color:blue;
    }
    h2{
        font-family: 'Times New Roman', Times, serif;
        color:blue;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    body {
        background-color:indigo;
    }
    h1{
        color: aqua;
        font-size: 40px;
    }
    h2{
        color: bisque;
    }
    h3{
        color: coral;
    }
    p{
        font-size: 20px;
        color: darkseagreen;
        font-family: 'cursive';
    }
    label{
        color: aqua
    }
}